@model IEnumerable<DataBot.Models.RandomDataRow>

@{
    ViewBag.Title = "Random Data Generator";
}
<h1>Random Data Generator</h1>

<script type="text/javascript">
    $(document).ready(function () {

        updatePreview();

        $('.columnType').click(updatePreview);

        function updatePreview() {
            var column = "";
            $("input:checked").each(function () {
                column = $(this).val();
                $('.' + column).show();
            });
            $('input[type=checkbox]').not(':checked').each(function () {
                column = $(this).val();
                $('.' + column).hide();
            });
        }
    });
</script>

@using (Html.BeginForm(FormMethod.Post)) {
    <fieldset>
        <legend>Add or Remove Columns</legend>
        <ol class="float_left">
            <li><label for="firstName">First Name</label><input id="firstName" name="firstName" type="checkbox" checked="checked" class="columnType" /></li>
            <li><label for="lastName">Last Name</label><input id="lastName" name="lastName" type="checkbox" checked="checked" class="columnType" /></li>
            <li><label for="phoneNumber">Phone Number</label><input id="phoneNumber" name="phoneNumber" type="checkbox" class="columnType" /></li>
            <li><label for="birthMonth">Birth Month</label><input id="birthMonth" name="birthMonth" type="checkbox" class="columnType" /></li>
        
        </ol>
        <ol class="float_left">
            <li><label for="city">City</label><input id="city" name="city" type="checkbox" checked="checked" class="columnType" /></li>
            <li><label for="state">State</label><input id="state" name="state" type="checkbox" checked="checked" class="columnType" /></li>
            <li><label for="zipCode">Zip</label><input id="zipCode" name="zipCode" type="checkbox" checked="checked" class="columnType" /></li>
            <li><label for="birthDay">Birth Day</label><input id="birthDay" name="birthDay" type="checkbox" class="columnType" /></li>
        </ol>
        <ol class="float_left">
            <li><label for="streetNumber">Street Number</label><input id="streetNumber" name="streetNumber" type="checkbox" class="columnType" /></li>
            <li><label for="apartmentNumber">Apartment Number</label><input id="apartmentNumber" name="apartmentNumber" type="checkbox" class="columnType" /></li>
            <li><label for="streetName">Street Name</label><input id="streetName" name="streetName" type="checkbox" class="columnType" /></li>
            <li><label for="birthYear">Birth Year</label><input id="birthYear" name="birthYear" type="checkbox" class="columnType" /></li>
        </ol>
        <div class="clear"></div>
        <div style="width: 370px; margin: 5px auto;">
            <label for="numRows" class="rows">Number of rows to export </label><input type="text" id="numRows" name="numRows" maxlength="4" />
        </div>
        <div class="clear"></div>
    </fieldset>
    <div id="export">
        <button type="submit" class="export_sql" value="SQL" name="export">Export to SQL</button>
        <button type="submit" class="export_csv" value="CSV" name="export">Export to CSV</button>
        <button type="submit" class="export_xml" value="XML" name="export">Export to XML</button>
    </div>
}

<h2>Sample Rows</h2>
<table style="width: 99%; background-color: rgb(209, 209, 209);">
    <tr class="th">
        <th class="firstName">
            First Name
        </th>
        <th class="lastName">
            Last Name
        </th>
        <th class="city">
            City
        </th>
        <th class="state">
            State
        </th>
        <th class="streetName">
            Street
        </th>
        <th class="streetNumber">
            Street Number
        </th>
        <th class="apartmentNumber">
            Apartment Number
        </th>
        <th class="zipCode">
            Zip
        </th>
        <th class="phoneNumber">
            Phone
        </th>
        <th class="birthYear">
            Birth Year
        </th>
        <th class="birthMonth">
            Birth Month
        </th>
        <th class="birthDay">
            Birth Day
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="firstName">
            @item.FirstName
        </td>
        <td class="lastName">
            @item.LastName
        </td>
        <td class="city">
            @item.City
        </td>
        <td class="state">
            @item.State
        </td>
        <td class="streetName">
            @item.StreetName
        </td>
        <td class="streetNumber">
            @item.StreetNumber
        </td>
        <td class="apartmentNumber">
            @item.ApartmentNumber
        </td>
        <td class="zipCode">
            @item.ZipCode
        </td>
        <td class="phoneNumber">
            @item.PhoneNumber
        </td>
        <td class="birthYear">
            @item.BirthYear
        </td>
        <td class="birthMonth">
            @item.BirthMonth
        </td>
        <td class="birthDay">
            @item.BirthDay
        </td>
    </tr>
}

</table>

