@model IEnumerable<DataBot.Models.RandomDataRow>

@{
    ViewBag.Title = "Random Data Generator";
}
<h1>Random Data Generator</h1>

<script type="text/javascript">
    $(document).ready(function () {

        updatePreview();

        $('.columnType').click(updatePreview);

        function updatePreview() {
            var column = "";
            $("input:checked").each(function () {
                column = $(this).val();
                $('.' + column).show();
            });
            $('input[type=checkbox]').not(':checked').each(function () {
                column = $(this).val();
                $('.' + column).hide();
            });
        }
    });
</script>

<fieldset>
    <legend>Add or Remove Columns</legend>
    <ol class="float_left">
        <li><label for="firstName">First Name</label><input id="firstName" value="firstName" type="checkbox" checked="checked" class="columnType" /></li>
        <li><label for="lastName">Last Name</label><input id="lastName" value="lastName" type="checkbox" checked="checked" class="columnType" /></li>
        <li><label for="phoneNumber">Phone Number</label><input id="phoneNumber" value="phoneNumber" type="checkbox" class="columnType" /></li>
        <li><label for="birthMonth">Birth Month</label><input id="birthMonth" value="birthMonth" type="checkbox" class="columnType" /></li>
        
    </ol>
    <ol class="float_left">
        <li><label for="city">City</label><input id="city" value="city" type="checkbox" checked="checked" class="columnType" /></li>
        <li><label for="state">State</label><input id="state" value="state" type="checkbox" checked="checked" class="columnType" /></li>
        <li><label for="zipCode">Zip</label><input id="zipCode" value="zipCode" type="checkbox" checked="checked" class="columnType" /></li>
        <li><label for="birthDay">Birth Day</label><input id="birthDay" value="birthDay" type="checkbox" class="columnType" /></li>
    </ol>
    <ol class="float_left">
        <li><label for="streetNumber">Street Number</label><input id="streetNumber" value="streetNumber" type="checkbox" class="columnType" /></li>
        <li><label for="apartmentNumber">Apartment Number</label><input id="apartmentNumber" value="apartmentNumber" type="checkbox" class="columnType" /></li>
        <li><label for="streetName">Street Name</label><input id="streetName" value="streetName" type="checkbox" class="columnType" /></li>
        <li><label for="birthYear">Birth Year</label><input id="birthYear" value="birthYear" type="checkbox" class="columnType" /></li>
    </ol>
    <div class="clear"></div>
</fieldset>

<div class="clear"></div>
<div id="export"">
    <img class="export_sql" src="@Url.Content("~/Content/images/export_sql.png")" alt="Export to SQL" />
    <img class="export_csv" src="@Url.Content("~/Content/images/export_csv.png")" alt="Export to CSV" />
    <img class="export_xml" src="@Url.Content("~/Content/images/export_xml.png")" alt="Export to XML" />
</div>
<div class="clear"></div>

<h2>Sample Rows</h2>
<table style="width: 99%; background-color: rgb(209, 209, 209);">
    <tr class="th">
        <th class="firstName">
            First Name
        </th>
        <th class="lastName">
            Last Name
        </th>
        <th class="city">
            City
        </th>
        <th class="state">
            State
        </th>
        <th class="streetName">
            Street
        </th>
        <th class="streetNumber">
            Street Number
        </th>
        <th class="apartmentNumber">
            Apartment Number
        </th>
        <th class="zipCode">
            Zip
        </th>
        <th class="phoneNumber">
            Phone
        </th>
        <th class="birthYear">
            Birth Year
        </th>
        <th class="birthMonth">
            Birth Month
        </th>
        <th class="birthDay">
            Birth Day
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="firstName">
            @item.FirstName
        </td>
        <td class="lastName">
            @item.LastName
        </td>
        <td class="city">
            @item.City
        </td>
        <td class="state">
            @item.State
        </td>
        <td class="streetName">
            @item.StreetName
        </td>
        <td class="streetNumber">
            @item.StreetNumber
        </td>
        <td class="apartmentNumber">
            @item.ApartmentNumber
        </td>
        <td class="zipCode">
            @item.ZipCode
        </td>
        <td class="phoneNumber">
            @item.PhoneNumber
        </td>
        <td class="birthYear">
            @item.BirthYear
        </td>
        <td class="birthMonth">
            @item.BirthMonth
        </td>
        <td class="birthDay">
            @item.BirthDay
        </td>
    </tr>
}

</table>

